<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>coach</servlet-name>
        <servlet-class>ideal.showcase.coach.appengine.dispatcher_servlet</servlet-class>
        <init-param>
            <param-name>app_name</param-name>
            <param-value>Coach</param-value>
        </init-param>
        <init-param>
            <param-name>datastore_name</param-name>
            <param-value>ideal.showcase.coach</param-value>
        </init-param>
        <init-param>
            <param-name>admins</param-name>
            <param-value>test@example.com</param-value>
        </init-param>
        <init-param>
            <param-name>users</param-name>
            <param-value>user@example.com</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>maintenance</servlet-name>
        <servlet-class>ideal.showcase.coach.appengine.maintenance_servlet</servlet-class>
        <init-param>
            <param-name>eta</param-name>
            <param-value>Saturday September 1st at 9:30pm Pacific Time</param-value>
        </init-param>
        <init-param>
            <param-name>admin</param-name>
            <param-value>Misha</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>ideal.showcase.coach.appengine.test_servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>coach</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>maintenance</servlet-name>
        <url-pattern>/503</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
</web-app>
