@import url(https://fonts.googleapis.com/css?family=Roboto:n,i,b,bi);

body {
  /* font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 16;
  height: 100vh;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}


a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

a:active {
  text-decoration: underline;
  color: blue;
}

span:target {
  background-color: black;
  color: white;
  padding: 3px;
}

.indent {
  margin-left: 1.5em;
  margin-bottom: 0.1em;
}

.documentation {
  /* font-family: 'Minion Pro', serif; */
  /* font-size: 15; */
  padding: 0.5em;
  margin-top: 0.5em;
  margin-left: -0.5em;
  background-color: #eee;
  font-style: italic;
}

.documentation-note {
  font-size: 14;
}

.code {
  /* font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */
  /* font-family: 'Myriad Pro', sans-serif; */
  font-size: 15;
  font-style: normal;
}

.type-declaration {
  margin-top: 1em;
  margin-bottom: 1em;
}

.type-declaration-name {
/*  font-size: larger; */
  font-weight: bolder;
  margin-right: 0.2em;
}

.supertype-declaration-name {
  font-weight: bolder;
}

.var-declaration-name {
  font-weight: bolder;
}

.procedure-declaration {
  margin-top: 0.7em;
}

.procedure-declaration-name {
  font-weight: bolder;
  margin-right: 0.1em;
}

.xref-links {
  margin-left: 1.0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.xref-name {
  font-style: italic;
}

.main {
  flex-grow: 1;
}

.nav-table {
  flex-grow: 0;
  width: 100%;
}

.nav-left {
  text-align: left;
  width: 30%;
}

.nav-center {
  text-align: center;
  width: 40%;
}

.nav-right {
  text-align: right;
  width: 30%;
}
